@model CheeseMVC.ViewModels.ViewMenuViewModel 

@{
    ViewBag.Title = "MENU NAME";
}

<h1>ViewMenu</h1>

<ul>
    @foreach(var item in Model.Items)
    {
        <li>@item.Cheese.Name</li>
    }
</ul>

<p><a asp-controller="Menu" asp-action="AddItem" asp-route-id="@Model.Menu.ID">Add an Item to the Menu</a></p>
